body {
  color: #212529;
  font: helvetica;
}

h4 {
  font-size: 12px !important;
}

ol {
  margin-bottom: 30px;
}

.node circle {
  stroke-width: 10px;
  border-radius: 50px;
}

.node text {
  font: 16px sans-serif;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #383838;
  stroke-width: 1px;
}

.container {
  margin-top: 10px;
}

#logo {
  height: 50px;
}

#instructions {
	font-size: 11px;
}
	
#prevBtn {
  margin-right: 2px;
}

#nextBtn {
  margin-left: 2px;
}

#tree {
  height: 450px;
  width: 500px;
  border: 1px #212529 solid;
  overflow: hidden;
}

#zoom {
  display: flex;
  justify-content: flex-end;
}

#nodeData {
  padding: 40px;
  height: 450px;
  width: 500px;
  border: 1px #212529 solid;
  overflow-y: auto;
}

#btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#btnsCenter {
  display: flex;
  justify-content: center;
}

